body {
    font-family: monospace;
}

@media (min-width: 1200px) {
    .top-margin {
        margin-top: 100px;
    }
} 

/**
 * Index style
 */
.splash-page{

    ul {
        margin-top: 10px;
        list-style: none;
        > li {
            display: inline-block;
            margin-right: 30px;
        }
    }
    
    a {
        text-decoration: none;
        &,
        &:visited {
            color: $grey-color;
        }
        &:hover {
            color: black;
        }
    }
}

/**
 * Site header
 */
.site-header {
    border-bottom: 1px dashed black;
    margin-bottom: 40px;
    
    ul {
        margin-top: 10px;
        margin-left: 0;
        list-style: none;
        > li {
            display: inline-block;
            margin-right: 5px;
        }
    }
    
    a {
        text-decoration: none;
        &,
        &:visited {
            color: $grey-color;
        }
        &:hover {
            color: black;
        }
    }
}

/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
    font-size: 15px;
}

/**
 * Tag cloud
 */
.tagcloud {
    margin-bottom: $spacing-unit;
    
    a {
        margin-bottom: 5px;
        text-decoration: none;
    }
}

hr {
    border-top: 1px solid $grey-color-light;
    border-bottom: none;
    margin: $spacing-unit 0;
}

/**
 * Page content
 */
h3 {
    border-bottom: 1px dotted;
}
 
.page-content {
    padding: $spacing-unit 0;
}

.post-list {
    margin-left: 0;
    padding-right: 10px;
    list-style: none;
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
}

/**
 * Posts
 */
.post {
    margin-bottom: $spacing-unit;
}
 
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    letter-spacing: -1px;
    line-height: 1;
}

.post-content {
    margin-bottom: $spacing-unit;
}