---
layout: default
---
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    {% include header.html %}
    <div class="post">
      <header class="post-header">
        <h2 class="post-title">{{ page.title }}</h2>
        <p class="post-meta">{{ page.date | date: "%d/%m/%Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
      </header>

      <article class="post-content">
        {{ content }}
      </article>

      <div>
        <strong>Etiquetas:</strong> 
        {% for tag in page.tags %}
          <a href="/articles#{{ tag }}">{{ tag }}</a>
        {% endfor %}
      </div>
    </div>
    {% include footer.html %}
  </div>
</div>
